<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="by.itacademy.myapp">
  
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>        

        <activity android:name=".dz0.Dz0Activity"/>
        <activity android:name=".dz1.Dz1Activity"/>
        <activity android:name=".dz2.Dz2Activity"/>
        <activity android:name=".dz2.Dz2LoginActivity"/>
        <activity android:name=".dz3.Dz3Activity"/>
        <activity android:name=".dz4.Dz4Activity"/>
        <activity android:name=".dz5.Dz5DiagramActivity"/>
        <activity android:name=".dz5.Dz5ActivityOwl"/>
        <activity android:name=".dz6.Dz6StudentEditActivity"/>
        <activity android:name=".dz6.Dz6StudentDetailsActivity"/>
        <activity android:name=".dz6.Dz6StudentListActivity"/>
        <activity android:name=".dz8.Dz8FragmManagerActivity"/>
        <activity android:name=".dz9.Dz9Activity"/>          
        <activity android:name=".dz11.mvvm.Dz11Activity"/>
        <activity android:name=".dz11.mvp.Dz11ManagerActivity"/>

        <activity android:name=".AllDzActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>